@import "tailwindcss";

:root {
	--background: #c1cdb7;
	--foreground: #201e1e;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-poppins: var(--font-poppins);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

* {
	box-sizing: border-box;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	/* overflow-x: hidden; */
	margin: 0;
	padding: 0;
}

@keyframes autoModeAnim {
	0% {
		background: rgb(104, 12, 209);
	}
	33% {
		background: rgb(86, 0, 199);
	}
	66% {
		background: rgb(0, 22, 150);
	}
	100% {
		background: rgb(104, 12, 209);
	}
}

.auto-mode-anim {
	animation-name: autoModeAnim;
	animation-direction: normal;
	animation-iteration-count: infinite;
	animation-duration: 5s;
	/* animation-fill-mode: forwards; */
	animation-timing-function: ease;
}
